
<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='mystyle.css') }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <link rel="icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
  <title>Just Another Task Manager</title>
</head>

<body>
<div class="container">
  <div id="header">
    <h1>Just Another Task Manager v1.1</h1>
  </div>
  <div id="formbar"><div id="innerformbar">
    {% block content %}

    {% endblock %}
  </div></div>
</div>
</body>
</html>
